body {
  background-color: #7289DA;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Cabin", sans-serif;
  /* background-image: url(website here); */
}
.container
{
position: relative;
width: 100%;
max-width: 1000px;
min-height: auto;
margin: 50px;
background-color: Gainsboro;
display: grid;
grid-template-columns: 1fr 2fr;
box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
/* LEFT PANNEL */
h1
{
  text-align: center;
}
.container .left_side
{
  position: relative;
  background: #282b30;
  padding: 40px;
}
.profiletext
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profiletext .imgbx
{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profiletext .imgbx img
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.profiletext h1
{
  color: white;
  font-size: 1.5em;
  font-weight: 300;
}
.profiletext h1 span
{
  font-size: 0.8em;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.4em;
}
.contactinfo
{
  padding-top: 40px;
}
.title
{
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contactinfo ul
{
  position: relative;
  padding: 0;
}
.contactinfo ul li
{
  position: relative;
  list-style: none;
}
.contactinfo ul li .icon
{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: white
}
.contactinfo ul li span
{
  color: white;
  font-weight: 300;
}
a:hover {
  color: #7289DA;
}

a:active {
  color: #7289DA;
}

.Education ul
{
  position: relative;
    padding: 0;
}
.Education ul li
{
  position: relative;
  list-style: none;
  cursor: pointer;
}
.Education ul li .icon
{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: white
}
.Education ul li span
{
  color: white;
  font-weight: 300;
}
.hobbies ul
{
  position: relative;
    padding: 0;
}
.hobbies ul li
{
  position: relative;
  list-style: none;
  cursor: pointer;
}
.hobbies ul li .icon
{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: white
}
.hobbies ul li span
{
  color: white;
  font-weight: 300;
}
.Experience ul
{
  position: relative;
    padding: 0;
}
.Experience ul li
{
  position: relative;
  list-style: none;
  cursor: pointer;
}
.Experience ul li .icon
{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: white
}
.Experience ul li span
{
  color: white;
  font-weight: 300;
}
/* RIGHT PANNEL */
.container .right_side
{
  position: relative;
  background: #424549;
  padding: 30px;
}
.company_icons {
  float: left;
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
overflow: hidden;
}
.about
{
  margin-bottom: 20px;
}
.about:last-child
{
  margin-bottom: 0;
}
.Titles
{
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.header
{
  display: inline-block;
  display: flex;
}
p
{
  color: white;
}
h5
{
  color: #b5bac1;
  margin-top: 15px;
  margin-left: 10px;
}
h3
{
  color: white;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 5px;
}
.tools
{
  color: #b5bac1;
  margin-top: 15px;
  margin-left: 10px;
}
/* Personal Statement*/
.readmore
{
  display: none;
}
.read-more-btn
{
  color: #b5bac1;
  background-color:  #424549;
  cursor: pointer;
  border: none;
}
.readmoretext.show-more .readmore
{
  display: inline;
}

/*  6-The Orchard  */
.read-more-btnorc
{
  color: #b5bac1;
  background-color:  #424549;
  cursor: pointer;
  border: none;
}
.readmoreorc
{
  display: none;
}
.readmoretextorc.show-more .readmoreorc
{
  display: inline;
}
.readmoreorc2
{
  display: none;
}
.readmoretextorc2.show-more .readmoreorc2
{
  display: inline;
}
.readmoreorc3
{
  display: none;
}
.readmoretextorc3.show-more .readmoreorc3
{
  display: inline;
}
.readmoretextorc3::first-line
{
color: #b5bac1;
}
/*  5-Vice Media  */
.read-more-btnvi
{
  color: #b5bac1;
  background-color:  #424549;
  cursor: pointer;
  border: none;
}
.readmorevi
{
  display: none;
}
.readmoretextvi.show-more .readmorevi
{
  display: inline;
}
.readmorevi2
{
  display: none;
}
.readmoretextvi2.show-more .readmorevi2
{
  display: inline;
}
.readmoretextvi2::first-line
{
color: #b5bac1;
}
/*  4-Pulse Films */
.readmorepulse
{
  display: none;
}
.read-more-btnpulse
{
  color: #b5bac1;
  background-color:  #424549;
  cursor: pointer;
  border: none;
}
.readmoretextpulse.show-more .readmorepulse
{
  display: inline;
}
/*  3-Sony Music */
.read-more-btnso
{
  color: #b5bac1;
  background-color:  #424549;
  cursor: pointer;
  border: none;
}
.readmoreso
{
  display: none;
}
.readmoretextso.show-more .readmoreso
{
  display: inline;
}
.readmoreso2
{
  display: none;
}
.readmoretextso2.show-more .readmoreso2
{
  display: inline;
}
.readmoreso3
{
  display: none;
}
.readmoretextso3.show-more .readmoreso3
{
  display: inline;
}
.readmoretextso3::first-line
{
color: #b5bac1;
}
/*  2-WorkPlaceLive  */
.read-more-btnwpl
{
  color: #b5bac1;
  background-color:  #424549;
  cursor: pointer;
  border: none;
}
.readmorewpl
{
  display: none;
}
.readmoretextwpl.show-more .readmorewpl
{
  display: inline;
}
.readmorewpl2
{
  display: none;
}
.readmoretextwpl2.show-more .readmorewpl2
{
  display: inline;
}
.readmorewpl3
{
  display: none;
}
.readmoretextwpl3.show-more .readmorewpl3
{
  display: inline;
}
.readmoretextwpl3::first-line
{
color: #b5bac1;
}
/*  1-Restup  */
.read-more-btnru
{
  color: #b5bac1;
  background-color:  #424549;
  cursor: pointer;
  border: none;
}
.readmoreru
{
  display: none;
}
.readmoretextru.show-more .readmoreru
{
  display: inline;
}
.readmoreru2
{
  display: none;
}
.readmoretextru2.show-more .readmoreru2
{
  display: inline;
}
.readmoreru3
{
  display: none;
}
.readmoretextru3.show-more .readmoreru3
{
  display: inline;
}
.readmoretextru3::first-line
{
color: #b5bac1;
}
@media (max-width: 600px)
 {
   .container
   {
     Margin: 10px;
     grid-template-columns: repeat(1,1fr);
   }
@media (max-width: 600px)
{

}
/* Colour Pallette
#7289da	(114,137,218) Burple
#424549	(66,69,73) light grey
#36393e	(54,57,62) mid grey
#282b30	(40,43,48) dark grey
#1e2124	(30,33,36) very dark grey
#b5bac1 - date font */
